<!-- ROW -->
<style>
    p,li{
        font-size: 16px;
    }
    p{
        margin-top:20px;
        margin-bottom:20px;
    }
    .bio p:nth-child(even){
        color:#aaa;
    }
</style>
<div class="row-fluid" >
    <div class="span12">
        <div style="position:relative;">
            <div style="position:absolute;top:40px;left:40px;color:white;text-shadow: 1px 1px 1px #000;filter: dropshadow(color=#000, offx=1, offy=1);background:rgba(0,0,0,.5);border-radius:20px;padding-left:20px;padding-right:20px">
                <h1>Eugenio Gonz&aacute;lez Merino</h1>
                <p class="lead">Ingeniero Agr&oacute;nomo</p>
            </div>
            <img class="img-rounded" src="/images/jdll/geni2.jpg" />
        </div>
        <br /><br />
        <h3>Biograf&iacute;a</h3>
    </div>

    <div class="bio">

        <div class="span6" >
            <p>Naci&oacute; en Madrid (1956), residiendo actualmente  en Colmenar Viejo.</p>
            <p>Vicepresidente de la Asociaci&oacute;n Espa&ntilde;ola de Parques y Jardines P˙blicos (2011)</p>
            <p>Jefe del  Departamento de Parques y Jardines del Ayuntamiento de Coslada (Madrid) desde 1982.</p>
            <p>Autor y creador  de los "Jardines de la Luz".</p>
            <p>Paisajista de Honor por la Escuela de Jardiner&iacute;a y Paisajismo "Castillo de Batres" (Madrid).</p>
            <p>Profesor de Bot&aacute;nica Ornamental y Tecnolog&iacute;a de la Escuela de Jardiner&iacute;a y Paisajismo "Castillo de Batres" (Madrid)(1990-94).</p>
            <p>Profesor del Master de Dise&ntilde;o y Interiorismo. Proyectos de Jardiner&iacute;a. <b>Facultad de Bellas Artes</b> (Universidad de Salamanca) (1991-97).</p>
            <p>Premio Nacional de Parques y Jardines P˙blicos Revista PARJAP Congreso Santander (2006).</p>
            <p>Desde 1982 realiza una intensa labor profesional en el Ayuntamiento de Coslada, ciudad que ha pasado de una superficie de zona verde  de 10.000  a 2.200.000 m2, siendo la ciudad que posee m&aacute;s m2 por habitante de la Comunidad de Madrid.</p>

            <p>Miembro de la Junta Directiva de la Asociaci&oacute;n Espa&ntilde;ola de Parques y Jardines P˙blicos (2007)</p>
            <p>Autor que cuenta entre sus  proyectos  de jardiner&iacute;a p˙blica m&aacute;s importantes: El Lago (Coslada), El Parque Juan Carlos I (Pinto), El Parque Norte (Mejorada del Campo), Parque del Cerro, Parque de la Paz, Parque del Olivo, Parque del Humedal, Parque de Teatinos, Paseo Javier Sauquillo, Av de Espa&ntilde;a,Parque Buero Vallejo, Parque de la Conejeras, Parque del Jarama,Parque Av de Madrid, Plaza Dr Michavilla, Parque Comuneros, de Piscina Municipal, Polideportivo Municipal al aire libre. Remodelaci&oacute;n del Parque del Plant&iacute;o, Jaramilla, Salvador Allende, Federico G. Lorca, 1∫ de Mayo, La Colina, El Esparragal.</p>
            <p>En el &aacute;mbito de la jardiner&iacute;a privada destaca el Hipercor de Las Palmas y el de Alcal&aacute; de Henares (Madrid), as&iacute; como, diversos proyectos en zonas residenciales.</p>
            <p>Impulsor y redactor de los premios de Jardiner&iacute;a de la Asoc. Espa&ntilde;ola de Parques y Jardines P˙blicos. En  2005 presenta a la opini&oacute;n p˙blica el resumen de sus trabajos habiendo creado en su trayectoria profesional un nuevo lenguaje en el dise&ntilde;o de jardines: <b>Los Jardines de la Luz</b>, desarrollando conferencias en la Escuela Castillo de Batres y en el XXXII Congreso Nacional de Parques y Jardines P˙blicos (Almer&iacute;a).</p>
        </div>
        <div class="span6" >

            <p>Ha participado como miembro del jurado del Congreso Internacional de Nuevas Rosas de la Villa de Madrid,  IX Premio PARJAP y II Premio Juan Julio (AEPJAP).</p>
            <p>Impartido conferencias y cursos sobre Gesti&oacute;n y Conservaci&oacute;n del Espacio P˙blico  (Granada), Suelo y Fertilizaci&oacute;n en Parques y Jardines (Valencia),Transformaci&oacute;n de los Peque&ntilde;os Espacios (Barcelona), Normas de Calidad en Zonas Verdes (Lima 2010), Conocimientos de Jardiner&iacute;a y Tratamiento de CÈsped y Cirug&iacute;a Arb&oacute;rea (Coslada).</p>
            <p>Ha presentado las siguientes comunicaciones en Congresos: <i>Pliego de Condiciones de Trabajos de Poda</i> (PARJAP 87), <i>Pliego de Condiciones de Zonas de Juegos Infantiles</i> (PARJAP 93) y <i>Aprovechamiento de Restos Vegetales</i> (1988), <i>Pliego de Condiciones de Zonas de Juegos Infantiles</i> (PARJAP 2005, Almer&iacute;a), <i>Pliego de Condiciones para la Conservaci&oacute;n de Zonas verdes</i> (PARJAP 2005, Almer&iacute;a).</p>
            <p>Ha pertenecido a mesas de trabajo sobre Racionalizaci&oacute;n del Uso del Agua en las Zonas Verdes (Madrid), Normas Tecnol&oacute;gicas para el Mantenimiento de los CÈspedes y Praderas (Barcelona), Areneros en ¡reas de Juegos Infantiles (Barcelona) y Norma Granada sobre Valoraci&oacute;n del Arbolado (Valencia).</p>
            <p>En 1986 public&oacute; ( Zona Verde) los resultados del estudio que realiz&oacute; sobre  aplicaci&oacute;n de nuevos sistemas de riego autom&aacute;tico que posteriormente revolucionar&iacute;a el mantenimiento de las zonas verdes y en 1994 (Zona Verde) inventa el sistema Seq-Cos para minimizar el consumo de agua y el mantenimiento. </p>
            <p>Art&iacute;culos publicados</p>
            <ul>
                <li>Jardines de la Luz (Enero 2004)</li>
                <li>El Color del Agua (Diciembre 2006)</li>
                <li>La Roca, Energ&iacute;a Natural  (Febrero 2007)</li>
                <li>El Parque Juan Carlos I de Pinto (Diciembre 2006)</li>
                <li>El Lago de Coslada (Noviembre 2006)</li>
                <li>Plantas con Car&aacute;cter en el Jard&iacute;n (Junio 2007)</li>
                <li>La Jardiner&iacute;a Rural como Reclamo Tur&iacute;stico y de Recreo (Abril 2006)</li>
                <li>Coslada tiene un coraz&oacute;n de agua (Noviembre 2003)</li>
                <li>Agua sin Rumbo (Diciembre 2007)</li>
            </ul><br />
            <p>Autor del Libro: Dise&ntilde;o de Jardines (2012).</p>
            <p>Coordinador del curso On-line de Jardiner&iacute;a y Paisajismo (2012)</p>
        </div>
    </div>
</div>

<br /><br />