<div class="row-fluid" >
    <div class="span12">

        <h3>Contacte con nosotros</h3>
        <div ng-show="sent">
            <div class="alert alert-success">
                <strong>Su peticiÛn ha sido enviada,</strong> en breve recibir· una respuesta.
            </div>
        </div>
        <div ng-hide="sent">
            <h5>InformaciÛn de contacto</h5>
            <div ng-show="error">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Ha ocurrido un error,</strong> por favor intentelo de nuevo.
                </div>
            </div>
            <form class="form-horizontal" action="" method="post">
                <div class="control-group">
                    <label class="control-label" for="inputName">Nombre*</label>
                    <div class="controls">
                        <input type="text" name="name" id="inputName" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Correo electrÛnico*</label>
                    <div class="controls">
                        <input type="email" name="email" id="inputEmail" placeholder="Email" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPhone">TelÈfono*</label>
                    <div class="controls">
                        <input type="text" name="phone" id="inputPhone" placeholder="TelÈfono" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputComments">Comentarios</label>
                    <div class="controls">
                        <textarea id="inputComments" name="comments" placeholder="Comentarios" rows="10" class="input-xxlarge"></textarea>
                    </div>
                </div>
                <button class="btn btn-large btn-success pull-right">Enviar</button>
            </form>
        </c:if>
    </div>
</div>
