<div class="row-fluid" >
    <div class="span12">
        <h2>Rotondas</h2>
        <br />

        <img class="img-rounded imglazy large" data-original="/images/rotondas/20.Av-DE-MADRID-COSLADA.jpg" />
        <h4>Avenida de Madrid</h4>
        <br />
        <br />

        <img class="img-rounded imglazy large" data-original="/images/rotondas/21.ENTRADA-DE-BIENVENIDA.jpg" />
        <h4>Entrada Arcentales</h4>
        <br />
        <br />

        <img class="img-rounded imglazy large" data-original="/images/rotondas/22.ROTONDA-AV-DE-ESPANA-COSLADA.jpg" />
        <h4>Avenida de Espa&ntilde;a</h4>
        <br />
        <br />

        <img class="img-rounded imglazy large" data-original="/images/rotondas/24.ROTONDA-DE-LA-CANADA-COSLADA.jpg" />
        <h4>Rotonda de la Ca&ntilde;ada</h4>
        <br />
        <br />

        <img class="img-rounded imglazy large" data-original="/images/rotondas/30.ROTONDA-AvDE-LA-CONSTITUCION-COSLADA.jpg" />
        <h4>Avenida de la Constituci&oacute;n</h4>
        <br />
        <br />

        <img class="img-rounded imglazy large" data-original="/images/rotondas/DSC03004.jpg" />
        <h4>Rotonda Barrio de la Estaci&oacute;n</h4>
        <br />
        <br />

        <img class="img-rounded imglazy large" data-original="/images/rotondas/DSC_0088.jpg" />
        <h4>Rotonda Calle La Rioja</h4>
        <br />
        <br />
    </div>
</div>